<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi Tiết Sản Phẩm</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/carousel.css">
</head>
<body class="bg-light-subtle">
    <!-- Header -->
        <div class="" th:replace="./main/Header.html"></div>
    <!-- Header -->
    <!-- Navigation -->
        <div class="" th:replace="./main/_navigation.html"></div>
    <!-- Navigation -->

    <!--  -->
    <div class="container mx-auto mt-5 bg-white col-10" >
        <div class="row border pt-3 rounded">
            <div class="col-lg-4 ">
                <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lgzc8coe03lee3" class="w-100 rounded" alt="">
                <div class="row d-flex justify-content-between" >
                    <img class="col-4  rounded" src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lgzc8coe03lee3" alt="">
                    <img  class="col-4 rounded" src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lgzc8coe03lee3" alt="">
                    <img  class="col-4  rounded" src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-lgzc8coe03lee3" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="d-flex flex-column">
                    <div class="">
                        <p class="fs-4 " th:text="${products.name}">Mô hình lắp ráp phụ kiện Gundam EW RG - HG 1/144 Avalanche Exia & Atraea Energy Angel Modified Lady Justice F tặng decal</p>
                    </div>
                    <div class="fw-light fs-6">
                        <p class="text-end">Tố Cáo</p>
                    </div>
                    <div class=" bg-body-secondary d-flex px-3 px-lg-5 rounded w-100 ">
                        <p class="fs-6 fw-medium text-secondary mt-4"><s>299.000 đ</s></p>
                        <p class="fs-2 fw-bold mx-3 mt-3 text-danger" >399.000 đ</p>
                        <!-- th:text="${products.price}" -->
                    </div>
                    <div class="d-flex justify-content-between mt-3 align-items-center">
                        <p class="text-secondary mt-3">Số Lượng</p>
                        <div class="d-flex flex-grow-1 justify-content-start   mx-5">
                            <button class="border-0 px-3 align-items-center rounded">-</button>
                            <input class="rounded border" style="width:15%;" type="text">
                            <button class="px-3 border-0 align-items-center rounded">+</button>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-lg-row mt-4">
                        <button class="btn btn-outline-danger me-2 ">Thêm Vào Giỏ Hàng</button>
                        <button class="btn btn-info text-black me-2 px-5 mt-2 mt-lg-0">Mua Ngay</button>
                    </div>
                    
                </div>
                <!--  -->
                
            </div>
        </div>
    </div>


    <div class="container mt-5 mx-auto border rounded py-5 bg-white col-10">
        <div class="">
            <div class="d-flex bg-body-secondary border rounded">
                <p class="text-uppercase mt-3 px-2">chi tiết sản phẩm</p>
            </div>
            <div class="d-flex justify-content-between px-2 mt-3 " style="list-style: none;">
                <div class="d-flex flex-column row-gap-3">
                    <li>Xuất xứ</li>
                    <li>Địa chỉ sản xuất</li>
                    <li>Chất liệu</li>
                    <li>Gửi từ</li>
                </div>
                <div class="d-flex flex-column row-gap-3">
                    <li>Việt Nam</li>
                    <li>Công viên phần mềm Quang Trung</li>
                    <li>Gỗ</li>
                    <li>Quận 12</li>
                </div>
            </div>
        </div>
        <!--  -->
        <div class=" mt-5">
            <div class="d-flex bg-body-secondary border rounded">
                <p class="text-uppercase mt-3 px-2"> Mô Tả Sản Phẩm</p>
            </div>
            <div class="d-flex justify-content-between px-2 mt-3 " style="list-style: none;">
               <!-- Mô Tả Sản Phẩm -->
            </div>
        </div>
    </div>
    <!-- Feed Back -->
    <section class="container mt-5 mx-auto border rounded col-10">
        <div class="mt-2 pb-5 w-100">
            <div class="d-flex bg-body-secondary border rounded  ">
                <p class="text-uppercase mt-3 px-2">Đánh Giá</p>
            </div>
            <!--  -->
            <div class="mt-2">
                <div th:each="feedback : ${feedbacks}" class="d-flex grid row-gap-3 mt-3 border-bottom pb-2 rounded">
                    <div class="me-5"> 
                        <img src="" alt="avatar">
                    </div>
                    <div class="">
                        <div class="" style="font-size: larger;">
                            <p th:text="${feedback.customer.fullName}">User Name</p>
                        </div>
                        <div class="" style="font-size: smaller;">
                            <p th:text="${feedback.feedback_date}">Date</p>
                        </div>
                        <div class="">
                            <p th:text="${feedback.content}">Comment</p>
                        </div>
                        <!--  -->
                        <div class=" mt-3 w-100">
                            
                                <li style="list-style: none;" class="" th:each="reply : ${feedback.replies}">
                                    <div class="d-flex align-items-center">
                                        <img style="width: 5%;" src="https://img.upanh.tv/2023/11/18/Artboard-3.png" alt="avatar">
                                        <p th:text="${reply.customer.fullName}">Reply Text</p>
                                    </div>   
                                    <!--  -->
                                    <div class="mx-5">                                      
                                        <p th:text="${reply.replyText}">Reply Text</p>
                                    </div> 
                                </li>
                                <!--  -->
                                <form class=" d-flex align-items-center grid gap-3 w-100" th:action="@{'/feedbacks/reply/' + ${products.productId}}" method="post">
                                    <input type="hidden" th:name="feedbackId" th:value="${feedback.feedbackId}" />
                                    <label for="replyText">Your Reply:</label>
                                    <input class="py-1 border-1  w-50 rounded" type="text" id="replyText" name="replyText" />
                                    <input type="hidden" id="customer" name="customer" value="1" /> <!-- Chú ý: Đây là ví dụ cứng coded để biểu thị user_id, bạn cần điều chỉnh để lấy user_id của người đăng nhập thực tế -->
                                
                                    <button class="btn btn-warning " type="submit">Đăng</button>
                                </form>                                
                        </div>
                    </div>
                    <!--  -->
                </div> 
            </div>
        </div>
    </section>
    <!--  -->
    <div class="container mt-5 mx-auto border rounded col-10">
        
        <div class=" mt-2 pb-5">
            <div class="d-flex bg-body-secondary border rounded ">
                <p class="text-uppercase mt-3 px-2">Gợi Ý Sản Phẩm</p>
            </div>
            <!--  -->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" style="width: 18rem;">
                        <div class="card">
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lm8dcpvlfzkved" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item" style="width: 18rem;">
                        <div class="card" >
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lm8dcpvlfzkved" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                  </div>
                  <div class="carousel-item" style="width: 18rem;">
                    <div class="card" >
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lm8dcpvlfzkved" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" style="width: 18rem;">
                    <div class="card" >
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lm8dcpvlfzkved" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" style="width: 18rem;" >
                    <div class="card">
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lm8dcpvlfzkved" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" style="width: 18rem;">
                    <div class="card" >
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lm8dcpvlfzkved" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" style="width: 18rem;">
                    <div class="card" >
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lm8dcpvlfzkved" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
              </div>    
                    

                    
                    
        </div>
    </div>
    <!--  -->
    <h1>Chi Tiết Sản Phẩm</h1>
    <div>
    
   <p> Tên Sản Phẩm </p>
        <h2 th:text="${products.name}"></h2>
        
   <p> Mô Tả </p>
        <p th:text="${products.description}"></p>
        
    <p>Giá</p>
        <p th:text="${products.price}"></p>
        <img style="width: 100px" th:src="@{'/assets/images/' + ${products.image}}">
       <p>Còn</p> <p th:text=" ${products.quantityInStock}"></p> <p>sản phẩm trong kho</p>
    </div>
    

 <h2>Customer Feedback</h2>
    <ul>
        <li th:each="feedback : ${feedbacks}">
          <input type="hidden" th:name="feedbackId" th:value="${feedback.feedbackId}" />
        <p th:text="${feedback.customer.fullName}">Feedback name</p>
            <p th:text="${feedback.content}">Feedback Content</p>
            <p th:text="${feedback.feedback_date}">Feedback Date</p>
        

            <!-- Display Replies -->
            <ul>
                <li th:each="reply : ${feedback.replies}">
                	<p th:text="${reply.customer.fullName}">Reply Text</p>
                    <p th:text="${reply.replyText}">Reply Text</p>
                   
                    <!-- Add other reply details if needed -->
                </li>
            </ul>
             <form th:action="@{'/feedbacks/reply/' + ${products.productId}}" method="post">
        <input type="hidden" th:name="feedbackId" th:value="${feedback.feedbackId}" />
        <label for="replyText">Your Reply:</label>
        <input type="text" id="replyText" name="replyText" />
        <input type="hidden" id="customer" name="customer" value="1" /> <!-- Chú ý: Đây là ví dụ cứng coded để biểu thị user_id, bạn cần điều chỉnh để lấy user_id của người đăng nhập thực tế -->
       

        <input type="submit" value="Post" />
    </form>
        </li>
    </ul>
    
</body>
</html>
