.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;

}

.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);

}



.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 35px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #a72879, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

/* -------- */
body {
    overflow-x: hidden;
    height: 100%;
}

.card0 {
    width: 94%;
}

.card1 {
    background-image: linear-gradient(#2196F3, #81D4FA);
    padding: 30px 20px 30px 50px;
}

.image-contact {
    width: 300px;
    height: 300px;
}

.large-font {
    font-size: 70px;
    font-family: Arial;
}

.fa-sun-o {
    font-size: 22px;
}

.card2 {
    background-color: #fff;
    padding: 0px 0px 40px 40px;
}



::placeholder {
    color: #B0BEC5 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #B0BEC5 !important;
}

::-ms-input-placeholder {
    color: #B0BEC5 !important;
}



.light-text {
    color: #B0BEC5;
}

.suggestion:hover {
    color: #fff;
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: #B0BEC5;
}

@media screen and (max-width: 500px) {
    .card1 {
        padding-left: 26px;
    }
}