<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Feedback</title>
</head>
<body>
    <h1>Create Feedback</h1>

    <form th:action="@{/feedbacks/create}" th:object="${customerFeedback}" method="post">
        <label for="productId">Product ID:</label>
        <input type="text" th:field="*{product.productId}"/>

        <label for="userId">User ID:</label>
        <input type="text" th:field="*{customer.userId}"/>

        <label for="content">Content:</label>
        <input type="text" th:field="*{content}"/>

        <input type="submit" value="Create"/>
    </form>

    
</body>
</html>
