<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/component/layout :: areas(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOFA | Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/style.css">


</head>

<body>
    <main class="container-fluid">
        <!-- Banner -->


        <div class="container-fluid container-lg d-flex ">

            <div class="col-lg-4 col-xl-3 d-none d-lg-block border">

                <div class="btn-group dropend mt-2 " style="width: 100%;">
                    <button type="button" class="btn d-flex justify-content-between" style="outline: none;"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Danh Mục Sản Phẩm
                    </button>
                    <ion-icon class="mt-2" name="arrow-forward-outline"></ion-icon>
                    <ul class="dropdown-menu">

                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                    </ul>
                </div>

                <div class="btn-group dropend mt-2 " style="width: 100%;">
                    <button type="button" class="btn d-flex justify-content-between" style="outline: none;"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Danh Mục Sản Phẩm
                    </button>
                    <ion-icon class="mt-2" name="arrow-forward-outline"></ion-icon>
                    <ul class="dropdown-menu">

                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                    </ul>
                </div>

                <div class="btn-group dropend  mt-2 " style="width: 100%;">
                    <button type="button" class="btn d-flex justify-content-between" style="outline: none;"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Danh Mục Sản Phẩm
                    </button>
                    <ion-icon class="mt-2" name="arrow-forward-outline"></ion-icon>
                    <ul class="dropdown-menu">

                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                    </ul>
                </div>

                <div class="btn-group dropend mt-2 " style="width: 100%;">
                    <button type="button" class="btn d-flex justify-content-between" style="outline: none;"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Danh Mục Sản Phẩm
                    </button>
                    <ion-icon class="mt-2" name="arrow-forward-outline"></ion-icon>
                    <ul class="dropdown-menu">

                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                        <li class="dropdown-item">Ghế ngồi đau lưng</li>
                    </ul>
                </div>


            </div>


            <div class="col-lg-8 col-12">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://noithatkdt.vn/wp-content/uploads/2023/04/4.2.jpg"
                                class="d-block w-100 border" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://noithatkdt.vn/wp-content/uploads/2023/04/1.jpg"
                                class="d-block w-100 border" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://noithatkdt.vn/wp-content/uploads/2023/04/5.jpg" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>

        <!-- category -->
        <div class="container mt-4 category">
            <div class="row sec-3-col ">
                <div class="col-lg-4 col-sm-12 col-md-4 img-box text-left ">
                    <div class="inner-box  " style="width: 80px;">
                        <img src="/assets/images/sgx.png" width="106" height="76" alt="">
                    </div>
                    <div class="box-text">
                        <p>Sản Xuất Theo Yêu Cầu</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-4 img-box text-left">
                    <div class="inner-box   " style="width: 80px;">
                        <img src="/assets/images/sgx.png" width="106px" height="76px" alt="">
                    </div>
                    <div class="box-text">
                        <p>Sản Xuất Theo Yêu Cầu</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-4 img-box text-left">
                    <div class="inner-box   " style="width: 80px;">
                        <img src="/assets/images/sgx.png" width="106px" height="76px" alt="">
                    </div>
                    <div class="box-text">
                        <p>Sản Xuất Theo Yêu Cầu</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid text-center my-5">
            <div class="row">
                <h2>Danh Mục Sản Phẩm</h2>
            </div>
        </div>

        <div class=" container mt-3">
            <div class="row">
                <div class="col-sm-12 col-lg-12 ">
                    <div class="col-inner">
                        <div class="wrapper-home">
                            <div class="inner-home">
                                <div class="item-home-parent">
                                    <a href="#" class="item-category">
                                        <img src="#" alt=""><i class="fa-solid fa-couch fa-2xl"></i>

                                        <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                                    </a>
                                </div>
                                <div class="item-home-parent">
                                    <a href="#" class="item-category">
                                        <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                        <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                                    </a>
                                </div>
                                <div class="item-home-parent">
                                    <a href="#" class="item-category">
                                        <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                        <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                                    </a>
                                </div>
                                <div class="item-home-parent">
                                    <a href="#" class="item-category">
                                        <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                        <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                                    </a>
                                </div>
                                <div class="item-home-parent">
                                    <a href="#" class="item-category">
                                        <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                        <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                                    </a>
                                </div>
                                <div class="item-home-parent">
                                    <a href="#" class="item-category">
                                        <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                        <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                                    </a>
                                </div>
                                <div class="item-home-parent">
                                    <a href="#" class="item-category">
                                        <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                        <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                                    </a>
                                </div>
                                <div class="item-home-parent">
                                    <a href="#" class="item-category">
                                        <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                        <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- product list -->
        <div class="container-fluid mt-5 mb-5 product-bo   ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-4 col-sm-6">
                        <div class="title">
                            <h2 class="title-text"><a href="#">Ghế SoFA</a></h2>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-6">
                        <div class="title-right">
                            <div class="item-title d-none d-lg-block">
                                <h3>
                                    <a href="#">SOFA DA</a>
                                </h3>
                            </div>
                            <div class="item-title d-none d-lg-block">
                                <h3>
                                    <a href="#">SOFA DA</a>
                                </h3>
                            </div>
                            <div class="item-title d-none d-lg-block">
                                <h3>
                                    <a href="#">SOFA DA</a>
                                </h3>
                            </div>
                            <div class="item-title  ">
                                <h3>
                                    <a href="#" class="mode">XEM TẤT CẢ <i class="fa-solid fa-angles-right "></i></a>

                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- load sanr pham -->
        <div class="text-center container py-3 ">

            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 card-item ">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="/assets/images/sofa.jpg" class="w-100" alt="" />
                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-primary ms-2">New</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">Product name</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Category</p>
                            </a>
                            <h6 class="mb-3">$61.99</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 card-item ml-2">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="/assets/images/sofa.jpg" class="w-100" alt="" />
                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-success ms-2">Eco</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">Product name</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Category</p>
                            </a>
                            <h6 class="mb-3">$61.99</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 card-item">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/sofa.jpg" class="w-100" alt="" />
                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">Product name</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Category</p>
                            </a>
                            <h6 class="mb-3">
                                <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 card-item">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/sofa.jpg" class="w-100" alt="" />
                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">Product name</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Category</p>
                            </a>
                            <h6 class="mb-3">
                                <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid mt-5 mb-5 product-bo   ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-4 col-sm-6">
                        <div class="title">
                            <h2 class="title-text"><a href="#">Ghế SoFA</a></h2>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-6">
                        <div class="title-right">
                            <div class="item-title d-none d-lg-block">
                                <h3>
                                    <a href="#">SOFA DA</a>
                                </h3>
                            </div>
                            <div class="item-title d-none d-lg-block">
                                <h3>
                                    <a href="#">SOFA DA</a>
                                </h3>
                            </div>
                            <div class="item-title d-none d-lg-block">
                                <h3>
                                    <a href="#">SOFA DA</a>
                                </h3>
                            </div>
                            <div class="item-title  ">
                                <h3>
                                    <a href="#" class="mode">XEM TẤT CẢ <i class="fa-solid fa-angles-right "></i></a>

                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- load sanr pham -->
        <div class="text-center container py-3">

            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 card-item">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="/assets/images/sofa.jpg" class="w-100" alt="" />
                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-primary ms-2">New</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">Product name</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Category</p>
                            </a>
                            <h6 class="mb-3">$61.99</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 card-item">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="/assets/images/sofa.jpg" class="w-100" alt="" />
                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-success ms-2">Eco</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body ">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">Product name</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Category</p>
                            </a>
                            <h6 class="mb-3">$61.99</h6>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 card-item">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/sofa.jpg" class="w-100" alt="" />
                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">Product name</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Category</p>
                            </a>
                            <h6 class="mb-3">
                                <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 card-item">
                    <div class="card">
                        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/sofa.jpg" class="w-100" alt="" />
                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100">
                                        <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                                    </div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                <h5 class="card-title mb-3">Product name</h5>
                            </a>
                            <a href="" class="text-reset">
                                <p>Category</p>
                            </a>
                            <h6 class="mb-3">
                                <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- carousel -->
        <div class="container-fluid text-center my-5">
            <div class="row">
                <h2>Các Lượt Tương Tác</h2>
            </div>
        </div>
        <div class="container">

            <div class="row">

                <div class="four col-md-3">
                    <div class="counter-box colored">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span class="counter">2147</span>
                        <p>Happy Customers</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box">
                        <i class="fa-solid fa-user-group"></i>
                        <span class="counter">3275</span>
                        <p>Registered Members</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box">
                        <i class="fa  fa-shopping-cart"></i>
                        <span class="counter">289</span>
                        <p>Available Products</p>
                    </div>
                </div>
                <div class="four col-md-3">
                    <div class="counter-box">
                        <i class="fa  fa-user"></i>
                        <span class="counter">1563</span>
                        <p>Saved Trees</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- comment -->
        <div class="container-fluid text-center my-5">
            <div class="row">
                <h2>Cẩm Nhận Về Chúng Tôi</h2>
            </div>
        </div>

        <div class="container-fluid">
            <div class="container mt-5 mb-5">

                <div class="row g-2">
                    <div class="col-md-4">
                        <div class="card p-3 text-center px-4">

                            <div class="user-image">

                                <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80" alt="">

                            </div>

                            <div class="user-content">

                                <h5 class="mb-0">Bruce Hardy</h5>
                                <span>Software Developer</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>

                            </div>

                            <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="card p-3 text-center px-4">

                            <div class="user-image">

                                <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80" alt="">

                            </div>

                            <div class="user-content">

                                <h5 class="mb-0">Mark Smith</h5>
                                <span>Web Developer</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>

                            </div>

                            <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="card p-3 text-center px-4">

                            <div class="user-image">

                                <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80" alt="">

                            </div>

                            <div class="user-content">

                                <h5 class="mb-0">Veera Duncan</h5>
                                <span>Software Architect</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>

                            </div>

                            <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                        </div>

                    </div>


                </div>

            </div>
            <div class="container mt-5 mb-5">

                <div class="row g-2">
                    <div class="col-md-4">
                        <div class="card p-3 text-center px-4">

                            <div class="user-image">

                                <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80" alt="">

                            </div>

                            <div class="user-content">

                                <h5 class="mb-0">Bruce Hardy</h5>
                                <span>Software Developer</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>

                            </div>

                            <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="card p-3 text-center px-4">

                            <div class="user-image">

                                <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80" alt="">

                            </div>

                            <div class="user-content">

                                <h5 class="mb-0">Mark Smith</h5>
                                <span>Web Developer</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>

                            </div>

                            <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="card p-3 text-center px-4">

                            <div class="user-image">

                                <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80" alt="">

                            </div>

                            <div class="user-content">

                                <h5 class="mb-0">Veera Duncan</h5>
                                <span>Software Architect</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>

                            </div>

                            <div class="ratings">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>

                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </div>

    </main>

</body>

</html>