<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách đơn hàng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Thùng rác</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col">Ngày đặt hàng</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Tên người đặt</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Chi tiết</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${trashOrders}">
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:text="${order.fullName}"></td>
                    <td th:text="${order.totalPrice}"></td>
                    <td>
                        <a th:href="@{'/orderDetails?orderId=' + ${order.orderId}}">Chi tiết</a>
                    </td>
                    <td>
    <div class="d-flex justify-content-between">
        <form th:if="${order.status == 'Thùng rác'}" th:action="@{'/admin/orders/restoreFromTrash'}" method="post">
            <input type="hidden" th:name="orderId" th:value="${order.orderId}">
            <button type="submit" class="btn btn-success">Khôi phục</button>
        </form>
        <form th:if="${order.status == 'Thùng rác'}" th:action="@{'/admin/orders/deletePermanently'}" method="post">
            <input type="hidden" th:name="orderId" th:value="${order.orderId}">
            <button type="submit" class="btn btn-danger">Xóa vĩnh viễn</button>
        </form>
    </div>
</td>

                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
