<!-- Header -->
<Header xmlns:th="http://www.thymeleaf.org">
  <nav class="navbar navbar-expand-lg navbar-light bg-white  d-flex flex-column mb-0">
      <div class="  mb-2 mb-lg-0 d-flex  align-items-center" style="width: 90%;">
         
        <a th:href="@{/}" class="text-nowrap logo-img bg-black">
          <img src="../assets/images/logos/logo2.png" width="60" alt="" />
        </a>
            
           
              
            <div class="d-flex align-items-center w-100 justify-content-end grid column-gap-3">
              <!-- Search -->
               <form th:action="@{/searchName}" method="get" class="col-lg-6 ">
                  <div class="d-block d-lg-none mt-3 fs-3">
                    <ion-icon name="search-outline"></ion-icon>
                  </div>
                  
                  <div class="input-group d-none d-lg-flex  ">
                      <input type="text" name="name" class="form-control" placeholder="Tìm kiếm" aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <button type="submit" class="input-group-text" id="basic-addon2">Search</button>
                  </div>
                </form>
              <!-- Search -->
                <div class="d-flex " style="z-index: 50;">
                  <div class="d-flex justify-content-around grid column-gap-3">
                    <!-- Login/Logout -->
                    <div class="btn-group mt-2">
                      <button class="btn p-0 dropdown-toggle d-flex  align-items-center justify-content-between border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <ion-icon th:unless="${username}" class="fs-3 mt-2" name="person-outline"></ion-icon>
                        <p th:if="${username}" th:text="${username}" class="fs-5 pt-3"></p>
                      </button>
                        
                      <ul class="dropdown-menu" >
                        <div class="" th:unless="${username}">
                          <li><a class="dropdown-item " th:href="@{/register}" >Đăng Ký­</a></li>
                          <li><a class="dropdown-item "th:href="@{/login}" >Đăng nhập</a></li>
                        </div>

                        <form sec:authorize="hasRole('USER')" th:if="${username}" th:action="@{/logout}" method="post">
                          <li><a class="dropdown-item " th:href="@{/profile}" >Thông tin cá nhân</a></li>
               
                          <li class="dropdown-item"><button class="border-0 bg-white" type="submit">Đăng xuất</button></li>
                        </form> 
                        
                        <form sec:authorize="hasRole('ADMIN') or hasRole('STAFF')" th:if="${username}" th:action="@{/logout}" method="post">
                          <li><a class="dropdown-item " th:href="@{/profile}" >Thông tin cá nhân</a></li>
                          <li><a class="dropdown-item " th:href="@{/admin/products}" >Quản Lý</a></li>
                          <li class="dropdown-item"><button class="border-0 bg-white" type="submit">Đăng xuất</button></li>
                        </form> 
                        
                      </ul>
                    </div>
                    <!-- Login/Logout -->

                    <!-- Cart -->
                      <a href="/cart" class="mt-2 d-flex align-items-center text-black link-offset-3-hover text-decoration-none">
                          <ion-icon class="fs-3" name="cart-outline"></ion-icon>
                          <p class="pt-3 mx-2">Giỏ hàng (<span th:text="${cartItemCount}">0</span>)</p>
                      </a>
                      
                    <!-- Cart -->
                  </div>
                </div>
              </div>     
      </div>

      
  </nav>
</Header>