
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
     <style>
 
 .alert {
        padding: 15px;
        border-radius: 5px;
        text-align: center;
    }
 </style>
</head>
<body>	
    <!-- Header -->
    <div class="" th:replace="./main/Header.html"></div>
    <!-- Header -->
    <div class="" th:replace="./main/_navigation.html"></div>
    
     <div id="notification" th:if="${confirmationMessage != null}" class="alert alert-success">
    <p th:text="${confirmationMessage}"></p>
</div>

    

    <div class="d-flex mt-5 mx-auto " style="width: 90%;">
        <section 	 class="w-100">
            <div class="container ">
            
              <div class="row">
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body text-center">
                      <img th:src="@{'/assets/images/' + ${user.photo}}" alt="Chưa có hình"
                        class="rounded-circle img-fluid" style="width: 150px;">
                      <h5 th:text="${user.fullName}" class="my-3"></h5>
                     
                     
                    </div>
                  </div>
                  <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                      <ul class="list-group list-group-flush rounded-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                          <!-- <i class="fas fa-globe fa-lg text-warning"></i> -->
                          <a class="mb-0 text-decoration-none text-black" th:href="@{/profile}">Thông Tin Cơ Bản</a>
                        </li>
                        
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                          <!-- <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i> -->
                          <a class="mb-0 text-warning text-decoration-none" th:href="@{/orders}">Đơn Hàng Đã Đặt</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                          <!-- <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i> -->
                          <a class="mb-0 text-decoration-none text-black" th:href="@{/vouchers/voucher-stock}">Kho Voucher</a>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                
                  <div  class="col-lg-8 mx-auto grid gap-3">
                    
                    <div th:each="order : ${orders}"   class=" border rounded">
                        <div  class="row mx-lg-2 pb-3 pb-lg-0  mt-3 border-bottom">
                            <div class="col-12 col-lg-6 fw-light d-flex flex-column " style="font-size: smaller;">
                                <p th:text="${order.fullName}" class="fw-bold fs-5"></p>
                                <p style="font-size: 17px; color: maroon;" th:text="${order.status}" ></p>
                                
                            </div>
                            <div class=" col-12 col-lg-6 d-flex flex-column mt-2 fw-light text-end  "  style="font-size: smaller;" >
                                <p th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm')}" class=" text-end border-0 bg-transparent fs-5"></p>
                                
                            </div>
                        </div>
                        <div class="row mx-lg-2  pb-lg-0 my-3 ">
                            <div class="col-12 col-lg-6 d-flex grid gap-3 ">
                            
                            <form th:action="@{/confirm}" method="post">
                        <input hidden="" th:value="${order.orderId}" name="orderId">
                          <button th:if="${order.status == 'Đang giao hàng'}" type="submit"  class="px-5 btn btn-success">Đã nhận</button>
                    </form>
                    
                     <form th:action="@{/cancel}" method="post">
                        <input hidden="" th:value="${order.orderId}" name="orderId">
                        <button th:if="${order.status == 'Chờ xác nhận'}" type="submit" class="px-5 btn btn-danger">Hủy đơn</button>
                    </form>
                              
                                <a th:href="@{'/orderDetails?orderId=' + ${order.orderId}}"><button class="px-5   btn btn-warning">Chi Tiết</button></a>
                            </div>
                            <div class="col-12 col-lg-6 text-end fs-5 ">
                             <p class="">Tổng Tiền: <span th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} + ' VND'"></span></p>




                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="" th:if="${orders.totalPages > 1}">
    <nav>
        <ul class="pagination justify-content-center">
            <li th:each="i : ${#numbers.sequence(0, orders.totalPages - 1)}" th:class="${orders.number == i} ? 'page-item active' : 'page-item'">
                <a th:href="@{'/orders?page=' + ${i}}" class="page-link" th:text="${i} + 1"></a>
            </li>
        </ul>
    </nav>
</div>
                  
                  <div class="col-md-6" th:unless="${order.status == 'Thùng rác'}">
            <div class="card mb-3">
                <div class="card-body">
               
                    <p class="card-text">Order Date: <span th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm')}"></span></p>
                    <p class="card-text">Total Price: <span th:text="${order.totalPrice}"></span></p>
                    <p class="card-text">Status: <span th:text="${order.status}"></span></p>
                    <a th:href="@{'/orderDetails?orderId=' + ${order.orderId}}" class="btn btn-primary">Xem chi tiết</a>
                    <form th:action="@{/confirm}" method="post">
                        <input hidden="" th:value="${order.orderId}" name="orderId">
                        <button th:if="${order.status == 'Đang giao hàng'}" type="submit" class="btn btn-success">Đã Nhận</button>
                    </form>
                    <form class="text-end" th:action="@{/cancel}" method="post">
                        <input hidden="" th:value="${order.orderId}" name="orderId">
                        <button th:if="${order.status == 'Chờ xác nhận'}" type="submit" class="btn btn-danger">Hủy đơn</button>
                    </form>
                </div>
            </div>
        </div>
                </div>
              </div>
              
              
            
        </section>
 
        

    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Script để hiển thị và ẩn thông báo -->
<script>
    // Hiển thị thông báo khi trang được tải
    $(document).ready(function() {
        showNotification();
    });

    // Hiển thị thông báo và tự động ẩn sau 2 giây
    function showNotification() {
        $('#notification').fadeIn().delay(1000).fadeOut();
    }
</script>
</body>
</html>