<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Đăng ký</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="./css/style.css">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#username').keyup(function () {
        var username = $(this).val();
        $.ajax({
          url: '/checkUsername?username=' + username,
          type: 'GET',
          success: function (response) {
            if (response === 'true') {
              $('#usernameError').text('Username đã tồn tại!');
            } else {
              $('#usernameError').text('');
            }
          }
        });
      });

      $('#password').keyup(function () {
        var password = $(this).val();
        if (password.length < 8) {
          $('#passwordError').text('Password phải có ít nhất 8 ký tự!');
        } else {
          $('#passwordError').text('');
        }
      });
    });
  </script>
</head>

<body>
  <div class="" th:replace="./main/header.html"></div>

  <article class="container mx-auto mt-5">
    <p class="d-flex justify-content-center fs-1 ">Sign-up</p>
    <div class="d-flex flex-column flex-lg-row mt-5">
      <div class=" mx-5">
        <!-- <img src="../image/sign-up.png" alt="" class="w-100"> -->
      </div>
      <div class="" style="width: 90%;">

        <form th:action="@{/register}" method="post" th:object="${user}">
          <div class="mb-3 mt-3">
            <label for="username" class="form-label">Tên Đăng Nhập</label>
            <input type="text" id="username" name="username" th:field="*{username}" required class="form-control">
            <p id="usernameError" style="color: red;"></p>

          </div>
          <div class="mb-3 mt-3">
            <label for="password" class="form-label">Mật Khẩu</label>
            <input type="password" id="password" name="password" class="form-control" required th:field="*{password}">
            <p id="passwordError" style="color: red;"></p>

          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Địa chỉ Email</label>
            <input type="email" name="email" th:field="*{email}" required class="form-control" id="email"
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3 mt-3">
            <label for="fullName" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" name="fullname" id="fullname" th:field="*{fullName}" required
              aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Địa Chỉ</label>
            <input type="text" class="form-control" name="address" id="address" th:field="*{address}" required>
          </div>

          <div class="mb-3">
            <label for="phonenumber" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" name="phonenumber" id="phonenumber" th:field="*{phonenumber}"
              required>
          </div>

          <button type="submit" class="btn btn-warning lg:w-50 w-100 text-white">Sign-in</button>
          <div class="d-flex flex-column align-items-center mt-3">

            <p class="mt-2"><a th:href="@{/login}" class="text-black" style="text-decoration: none;">Trở về</a></p>
          </div>
          <p th:if="${registrationError}" th:text="${registrationError}" style="color: red;"></p>
        </form>
      </div>
    </div>
  </article>


</body>

</html>