<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/assets/css/about.css}">
    <title>SOFA | Giới Thiệu </title>


</head>

<body>
    <div class="" th:replace="./main/Header.html"></div>
    <!-- Header -->
    <div class="" th:replace="./main/_navigation.html"></div>
    <div class="bg-light">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">ĐÔI NÉT VỀ NỘI THẤT KDT</h1>
                    <p class="lead text-muted mb-0">Nội Thất KDT hay còn được gọi là KDT sofa – thương hiệu nội thất uy
                        tín tại Hà Nội, chuyên cung cấp ghế sofa các loại với giá thành hợp lý, đáp ứng đa dạng nhu cầu
                        của người tiêu dùng trên thị trường hiện nay.

                        Thương hiệu Nội Thất KDT ra đời với mục đích kiến tạo những giá trị tốt đẹp cho cuộc sống, góp
                        phần mang lại những mẫu ghế sô pha tiện nghi và có tính thẩm mỹ cao, sử dụng trong các không
                        gian gia đình Việt Nam.

                        Hiện nay, Nội Thất KDT chủ yếu tập trung thiết kế và sản xuất các mặt hàng Ghế sofa, sofa gỗ,
                        sofa da, sofa phòng khách.

                        Ngoài ra, tại cửa hàng KDT, quý khách còn có thể tham khảo và lựa chọn các sản phẩm như giường
                        ngủ, tủ quần áo, bàn trang điểm, tủ bếp với chất lượng tốt.</p>
                    <!-- <p class="lead text-muted">Snippet by <a href="https://bootstrapious.com/snippets"
                            class="text-muted">
                            <u>Bootstrapious</u></a>
                    </p> -->
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                    <h2 class="font-weight-light">LỊCH SỬ HÌNH THÀNH VÀ PHÁT TRIỂN</h2>
                    <p class="font-italic text-muted mb-4">Vào ngày 15/08/2015, ông Nguyễn Xuân Thủy thành lập thương
                        hiệu KDT Sofa chuyên sản xuất ghế sofa. Nội thất KDT mang đến đa dạng sự lựa chọn về sofa như
                        sofa phòng khách, sofa phòng ngủ, sofa đơn, …

                        Hai năm sau, ông Nguyễn Xuân Thủy đã mở rộng thương hiệu của mình thành Nội Thất KDT, sản xuất
                        và cung cấp các sản phẩm nội thất khác để đáp ứng nhu cầu của khách hàng hiện nay.

                        Trong tương lai, Nội Thất KDT vẫn tiếp tục hướng đến phân khúc bình dân, với các sản phẩm có giá
                        cả phải chăng mà chất lượng ổn định. Từ đó, giúp thương hiệu dễ tiếp cận hơn với phần lớn khách
                        hàng trong thị trường hiện nay.</p><a href="#"
                        class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                        src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt=""
                        class="img-fluid mb-4 mb-lg-0"></div>
            </div>
            <div class="row align-items-center ">
                <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg"
                        alt="" class="img-fluid mb-4 mb-lg-0"></div>
                <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                    <h2 class="font-weight-light">TẦM NHÌN VÀ SỨ MỆNH</h2>
                    <p class="font-italic text-muted mb-4">Từ khi thành lập, Nội Thất KDT đã không ngừng nỗ lực để hoàn
                        thiện chất lượng sản phẩm và cả quy trình dịch vụ, mang lại cho khách hàng những trải nghiệm
                        tuyệt vời nhất khi chọn mua sắm tại KDT. Phương châm của chúng tôi là luôn cố gắng làm mới mỗi
                        ngày, bắt nhịp xu hướng của nội thất thế giới bằng việc sáng tạo nên những sản phẩm thời trang,
                        có tính thẩm mỹ cao và phù hợp với gu nội thất của người Việt.Nội Thất KDT hoạt động theo tôn
                        chỉ đặt chất lượng lên hàng đầu, sử dụng nguồn nguyên liệu có nguồn gốc và xuất xứ rõ ràng. Bên
                        cạnh đó, chúng tôi cũng đề cao trách nhiệm bảo vệ môi trường bằng việc ưu tiên sử dụng nguồn
                        nguyên liệu thân thiện với môi trường, an toàn với sức khỏe con người.

                        Nội Thất KDT đặt mục tiêu trở thành một đơn vị sản xuất và kinh doanh nội thất uy tín trong cả
                        nước, tương lai sẽ còn vươn xa ra thị trường nước ngoài. Sứ mệnh mà KDT theo đuổi là phát triển
                        bền vững, kinh doanh các sản phẩm nội thất tốt để mang lại những không gian tiện nghi nhất cho
                        người tiêu dùng Việt Nam.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn
                        More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-white mt-5 p-3 ">
        <h2 class="text-center  mb-4 p-4">DÒNG SOFA BÁN CHẠY TẠI NỘI THẤT KDT </h2>
        <div class="row g-2">
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/4GvxTm1.png" width="36" alt="" />
                    </div>
                    <span>Saloon</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/C7zMdx3.png" width="36" alt="" />
                    </div>
                    <span>Cleaning</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/LaQvLQG.png" width="36" alt="" />
                    </div>
                    <span>Car Repair</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/9UsQzOZ.png" width="36" alt="" />
                    </div>
                    <span>Electrician</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/iUd0UJk.png" width="36" alt="" />
                    </div>
                    <span>Painter</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/jfJQfUA.png" width="36" alt="" />
                    </div>
                    <span>Plumber</span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/B3pzxO5.png" width="36" alt="" />
                    </div>
                    <span>Carpenter</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/0pBmq1V.png" width="36" alt="" />
                    </div>
                    <span>Makeup</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/9UsQzOZ.png" width="36 " alt="" />
                    </div>
                    <span>Grooming</span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/Vcfr7J6.png" width="36" alt="" />
                    </div>
                    <span>Pest control</span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/jfJQfUA.png" width="36" alt="" />
                    </div>
                    <span>Hair Style</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="image">
                        <img src="https://i.imgur.com/iUd0UJk.png" width="36" alt="" />
                    </div>
                    <span>Massage</span>
                </div>
            </div>


        </div>

    </div>

    <div class="bg-light py-5">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="display-4 font-weight-light">Our team</h2>
                    <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO -
                            Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO -
                            Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO -
                            Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img
                            src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO -
                            Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa-brands fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

            </div>
        </div>
    </div>
    <div class="" th:replace="./main/Footer.html"></div>
</body>

</html>