<footer class="w-100 border mt-5">
  <div class="container pt-5 pb-3">
    <div class="row">
      <div class="col-lg-4">
        <div class="d-flex flex-column">
          <h4>CÔNG TY TNHH THƯƠNG MẠI THIẾT BỊ CÔNG NGHIỆP MIỀN NAM</h4>
          <h5>South Industrial Equipment Trading Co., Ltd (SINET)</h5>
          <ul class="lh-lg">
            <li>Địa chỉ: 245/16B Chu Văn An, Phường 12, Quận Bình Thạnh, TP. Hồ Chí Minh</li>
            <li>MST: 0313846087 (Do Sở Kế Hoạch và Đầu Tư TP. HCM cấp ngày 06/06/2016)</li>
            <li>Email: sales@sinet.vn</li>
            <li>Email: tbcnmn@gmail.com</li>
            <li>Website: www.sinet.vn</li>
          </ul>

        </div>
      </div>
      <div class="col-lg-4 px-5">
        <div class="d-flex flex-column">
          <h4>Chính Sách</h4>
          <ul class="lh-lg">
            <li>Chính Sách Thanh Toán</li>
            <li>Chính Sách Giao Hàng</li>
            <li>Chính Sách Bảo Mật Thông Tin</li>
            <li>Chính Sách Đổi Trả</li>
            <li>Chính Sách Bảo Hành</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex flex-column ">
          <h4>Dịch Vụ</h4>
          <ul class="lh-lg">
            <li>Something else here</li>
            <li>Something else here</li>
            <li>Something else here</li>
            <li>Something else here</li>
            <li>Something else here</li>
          </ul>
        </div>
        <div class="d-flex flex-column">
          <h4>Liên Hệ</h4>
          <ul class="lh-lg">
            <li>Gọi Đặt Hàng: 0902.553.262</li>
            <li>Gọi Tư Vấn: 0975.781.682</li>
          </ul>
          <div class="d-flex align-items-center">
            <h6>Hotline 24/7 (Zalo):</h6>
            <h4>0902553262</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>